Repository Typeform/.github, changes with the owners that CODEOWNERS names for each.
All owners: @Typeform/security, @Typeform/architecture, @Typeform/product-infrastructure

feat(PR-41): add a shared CI standard checks workflow
  .github/workflows/ci-standard-checks-workflow.yaml
  reusable-workflows/ci-standard-checks/workflow.yaml
Owners: @Typeform/security

fix(PR-41): include the GITHUB_TOKEN already on the workflow
  .github/workflows/ci-standard-checks-workflow.yaml
Owners: @Typeform/security

fix(PR-41): typo token
  .github/workflows/ci-standard-checks-workflow.yaml
Owners: @Typeform/security

fix(PR-41): add types on the inputs
  .github/workflows/ci-standard-checks-workflow.yaml
Owners: @Typeform/security

fix(PR-41): add not required to the inputs
  .github/workflows/ci-standard-checks-workflow.yaml
Owners: @Typeform/security

Update .github/workflows/ci-standard-checks-workflow.yaml
  .github/workflows/ci-standard-checks-workflow.yaml
Owners: @Typeform/security

fix(PR-41): change the secrets
  .github/workflows/ci-standard-checks-workflow.yaml
Owners: @Typeform/security

fix(PR-41): change the secrets
  .github/workflows/ci-standard-checks-workflow.yaml
Owners: @Typeform/security

feat(PR-41): add a shared CI standard checks workflow (#66)
  .github/workflows/ci-standard-checks-workflow.yaml
  reusable-workflows/ci-standard-checks/workflow.yaml
Owners: @Typeform/security

feat(PR-41) update the CI standard checks template
  workflow-templates/ci-standard-checks.yml
Owners: @Typeform/product-infrastructure

feat(PR-41) update the CI standard checks template (#67)
  workflow-templates/ci-standard-checks.yml
Owners: @Typeform/product-infrastructure

chore(PR-41): use automated-checks runner on go lint workflow and update actions
  .github/workflows/go-lint-workflow.yaml
Owners: @Typeform/architecture

chore(PR-41): use automated-checks runner on go lint workflow and update actions (#68)
  .github/workflows/go-lint-workflow.yaml
Owners: @Typeform/architecture

chore(PR-1): run comment-deploy-link on ubuntu-latest
  .github/workflows/comment-deploy-link.yaml
Owners: @Typeform/security

chore(PR-41): re-add "runs-on" flag
  .github/workflows/comment-deploy-link.yaml
Owners: @Typeform/security

chore(PR-1): run comment-deploy-link on ubuntu-latest (#69)
  .github/workflows/comment-deploy-link.yaml
Owners: @Typeform/security

chore(PR-41): skip vendor folder in go lint workflow
  .github/workflows/go-lint-workflow.yaml
Owners: @Typeform/architecture

chore(PR-41): skip vendor folder in go lint workflow (#71)
  .github/workflows/go-lint-workflow.yaml
Owners: @Typeform/architecture

fix(PR-41): disable caching in setup-go
  .github/workflows/go-lint-workflow.yaml
Owners: @Typeform/architecture

fix(PR-41): disable caching in setup-go (#72)
  .github/workflows/go-lint-workflow.yaml
Owners: @Typeform/architecture

chore [PR-41] use central ci-standards-check template
  .github/workflows/ci-standard-checks.yml
Owners: @Typeform/security

chore [PR-41] use central ci-standards-check template (#70)
  .github/workflows/ci-standard-checks.yml
Owners: @Typeform/security

CODEOWNERS:

* @Typeform/security
.github/workflows/go-lint-workflow.yaml                     @Typeform/architecture
reusable-workflows/go-lint                                  @Typeform/architecture
shared-actions/send-deployment-event                        @Typeform/architecture
workflow-templates/send-deployment-event.properties.json    @Typeform/architecture
workflow-templates/send-deployment-event.svg                @Typeform/architecture
workflow-templates/send-deployment-event.yml                @Typeform/architecture
workflow-templates/ci-standard-checks.yml                   @Typeform/product-infrastructure
workflow-templates/ci-standard-checks.svg                   @Typeform/product-infrastructure
workflow-templates/ci-standard-checks.properties.json       @Typeform/product-infrastructure
workflow-templates/frontend-canary-cleanup.yml              @Typeform/architecture
workflow-templates/frontend-canary-cleanup.svg              @Typeform/architecture
workflow-templates/frontend-canary-cleanup.properties.json  @Typeform/architecture
